html
    head
        link(href="style/notify.css", rel="stylesheet")
        script(src="//use.typekit.net/dbk1enm.js")
        script.
            try { Typekit.load(); } catch (e) {}
    body
        #container
            //canvas#notification(width=992 height=100)
        // Include JS last for better load times
        script(src="components/jquery/dist/jquery.min.js")
        script(src="components/gsap/src/minified/TweenMax.min.js")
        script(src="components/easeljs/lib/easeljs-0.8.0.min.js")
        script(src="components/SoundJS/lib/soundjs-0.6.0.min.js")
        script(src="app/setup.js")
        script(src="app/notify.js")
